apiVersion: apps/v1
kind: Deployment
metadata:
  name: carstore
  labels:
    app: carstore
spec:
  replicas: 1
  selector:
    matchLabels:
      app: carstore
  template:
    metadata:
      labels:
        app: carstore
    spec:
      containers:
        - name: carstore
          image: username/carstore:latest
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: '/actuator/health'
              port: 8080
            initialDelaySeconds: 10
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 10
          livenessProbe:
            httpGet:
              path: '/actuator/health'
              port: 8080
            initialDelaySeconds: 120
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 5